<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8585/OrderService/mex" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="WcfServiceLibrary1.OrderService">
                <endpoint address="http://localhost:8585/OrderService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WcfServiceLibrary1.IOrderService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>